footer {
  background-color: var(--gray-background);
  .container {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  .col {
    &:first-child {
      flex: 0.5;
    }
    &:last-child {
      flex: 0.3;
    }
  }
  img {
    width: 140px;
  }
  .description {
    line-height: 26px;
    max-width: 350px;
  }
  .nav-list {
    padding: 0px;
    margin-top: 30px;
  }
  li {
    margin-bottom: 20px;
  }
  hr {
    opacity: 0.25;
    margin: 30px 45px;
  }
  .copy-right {
    text-align: center;
  }
}
