.homeSection.container {
  width: 80%;
  margin: 50px auto;
  .place-holder {
    background-color: gray;
    height: 300px;
  }
  .glider-slide {
    margin: 0 10px;
  }
  img {
    border-radius: 5px;
  }
  h2 {
    color: var(--white);
  }
}
